* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

body {
    margin: 25px;
    background-color: #FFFFFF;
    font-family: arial, sans-serif;
    font-size: 14px;
  }

header {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
    background:#983FAA;
    max-height: 60px;

}

.logo {
    width: 80px;
    flex: 0.3
}

header ul{
    margin-left: 40px;   
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}


header a{
    color: white;
    font-size: 18px;
    text-transform: uppercasse;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

/* Footer take this*/ 

.footer{

    background-color: #983FAA;
    padding: 10px 0;
    align-content: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    
    
   
}

.footer-col{
    width: 25%;
    padding: 0 20px;
  
 }


.footer-col a{
	font-size: 29px;
	text-transform:capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    padding-left: 8px;
    
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	line-height: 43px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
    align-items: center;
    justify-content: center;

    
 
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
    align-items: center;
    justify-content: center;
   
}
/*till here */ 